<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Add Product</title>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" />
    <script type="text/javascript" th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
</head>
<style>

</style>

<body>
    <div align="center">
        <h1>Add Product</h1>

        <br />

        <form th:action="@{/saveProduct}"  th:object="${product}" method="post" enctype="multipart/form-data">
            <table border="0" cellpadding="10">
                <tr>
                    <td>Product Name:</td>
                    <td><input type="text" th:field="*{productName}" placeholder="Product Name" /></td>
                </tr>
                <tr>
                    <td>Product Price:</td>
                    <td><input type="text" th:field="*{price}" placeholder="Price" /></td>
                </tr>
                <tr>
                    <td>Product Photo:</td>
                    <td><input type="file" name="image" accept="image/png, image/jpeg, image/jpg" /></td>
                </tr>
                <tr>
                    <td colspan="2"><button type="submit" class="btn btn-primary">Save Product</button></td>
                </tr>
            </table>
        </form>

        <a th:href="@{/product}">Back to Products</a>
    </div>
</body>

</html>